* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: maroon; */
}

body {
    font-family: sans-serif;
    background: white;
    width: 100%;
    margin: 0 auto;
}

header {
    box-shadow: 0rem 0.5rem 3rem rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0rem;
    /* background: maroon; */
    background: linear-gradient(
        to bottom,
        #460418,
        rgba(201, 10, 10, 0.801)
    );
    z-index: 1000;
}

nav {
    min-height: 15vh;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center; /* 수직축 방향 정렬 */
    justify-content: space-between; /* 평행축 방향 정렬 */
}

nav h1,
nav ul,
nav img {
    /* font-size: 1.5rem; */
    flex: 1; /* flex-grow: 1; flex-shrink: 1; flex-basis: 0%; */
    color: white;
}

nav h1 {
    font-size: 3rem;
}

nav img {
    display: flex;
}

nav ul {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li:hover {
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

main {
    background: linear-gradient(
        #ffffff,
        #c6ffdd,
        #fbd786,
        #f7797d,
        maroon
    );
    position: relative;
}

main img {
    width: 100%;
    top: 0;
}

.scroll {
    /* position: absolute; */
    /* display: flex; */
    position: relative;
    background: #f7797d;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.scroll div {
    display: block;
    width: 200%;
    height: 50px;

    position: absolute;
    overflow: hidden;

    animation: scroll 5s linear infinite;
    z-index: 1000;
    margin-top: 40px;
}

.scroll span {
    float: left;
    width: 10%;
}

@keyframes scroll {
    0% {
        left: 100%;
    }
    100% {
        left: -200%;
    }
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section:not(:first-child) {
    height: 100vh;
}

section h2 {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 2px 3px black;
}

.bubble {
    position: absolute;
    z-index: -2;
    /* background: linear-gradient(to right top, #acbb78, #f7f8f8); */
    transform: scale(2);
    transition: all 0.5s;
    font-weight: bold;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.intro {
    flex-direction: column;
}

.intro div {
    margin-top: 1rem;
    text-align: center;
}

.projects div {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 1rem;
}

.projects ul {
    list-style: none;
    display: flex;
    align-items: center; /* 수직축 방향 정렬 */
    justify-content: space-between; /* 평행축 방향 정렬 */
    text-align: center;
}

.projects li {
    display: inline-block;
}

.projects img {
    width: 50%;
}
